<!-- current order -->
<div class="ui stackable two column grid">
  <div class="column">
    <% if !session[:current_order_id].nil? %>
      <div class="ui centered fluid card">
        <div class="content">
          <div class="header">
            <%= t :current_order %>
          </div>
          <div class="meta"><!-- extras? --></div>
          <div class="description">
            <%= t :current_order_description %>
          </div>
        </div>
        <div class="extra content">
          <div class="two ui buttons">
            <%= link_to order_path(Order.find(session[:current_order_id])), title: 'Current Order', class: 'ui basic green button' do %>
              <%= t :update_current_order %>
            <% end %>

            <%= link_to shopping_list_path(Order.find(session[:current_order_id])), title: 'Shopping List', class: 'ui basic blue button' do %>
              <%= t :get_shopping_list %>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="column"> <!-- weather -->
    <div class="ui fluid card">
      <div class="content">
        <img src="<%= @api_response.image.url %>" class="right floated mini ui image">
        <div class="header">
          <%= t @today.first.day.to_sym %>
        </div>
        <div class="meta"><%= t @today.first.text.gsub(" ", "_").to_sym %></div>
        <div class="description">
          <div class="ui two column centered grid">
            <div class="column">
              <div class="ui red statistic">
                <div class="value"><%= @today.first.high %></div>
                <div class="label"><%= t :maximum_temp %></div>
              </div>
            </div>
            <div class="column">
              <div class="ui blue statistic">
                <div class="value"><%= @today.first.low %></div>
                <div class="label"><%= t :minimum_temp %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- end second column -->
</div> <!-- end grid -->

<div class="ui divider"></div>
<!-- new order etc -->
<div class="ui three stackable cards">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= t :ordering %>
      </div>
      <div class="meta"><!-- extras? --></div>
      <div class="description">
        <%= t :order_description %>
      </div>
    </div>
    <div class="extra content">
      <div class="two ui buttons">
        <%= link_to new_order_path,  data: { disable_with: 'Creating...' }, title: 'Create order', class: 'ui basic green button' do %>
          <%= t :create_new_order %>
        <% end %>

        <%= link_to orders_path, class: 'ui basic blue button' do %>
          <%= t :show_all_orders %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= t :products %>
      </div>
      <div class="meta"><!-- extras? --></div>
      <div class="description">
        <%= t :product_description %>
      </div>
    </div>
    <div class="extra content">
      <div class="two ui buttons">
        <%= link_to new_product_path, class: 'ui basic green button' do %>
          <%= t :create_new_products %>
        <% end %>

        <%= link_to products_path, class: 'ui basic blue button' do %>
          <%= t :show_all_products %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= t :language %>
      </div>
      <div class="meta"><!-- extras? --></div>
      <div class="description">
        <%= t :language_description %>
      </div>
    </div>
    <div class="extra content">
      <div class="two ui buttons">
        <%= link_to "English", { locale: 'en' }, class: "ui basic yellow button" %>
        <%= link_to "日本語", { locale: 'ja' }, class: 'ui basic red button' %>
      </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>
<!-- weather -->
<h2 class="ui centered header"><%= t :weather_forecast %> <%= "(#{t @api_response.location.city.to_sym}, #{t @api_response.location.country.to_sym})"%></h2>

<div class="ui four stackable cards">

  <% @forecasts.each do |forecast| %>
    <%= render partial: 'forecast', locals: { today: forecast, api_response: @api_response } %>
  <% end %>
</div>
