<h1>Shopping List for <%= @current_order.created_at.strftime("%A") %>,
  <%= @current_order.created_at.strftime("%x") %> </h1>


<table class="ui blue celled table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Cost per unit</th>
      <th>Total units needed</th>
      <th>Total cost</th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.item_cost %></td>
        <td><%= item.item_amount %></td>
        <td><%= item.total_cost %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Total: <%= @shopping_items.sum("total_cost")%></th>
    </tr>
  </tfoot>
</table>

<%= link_to 'Create PDF document', shopping_list_path(@shopping_list, :format => :pdf) %>
