<div class="ui top menu">
  <%= link_to root_path, class: 'item' do %>
    Unplan発注システム
  <% end %>

  <%= link_to new_order_path, class: 'item' do %>
    新しい発注
  <% end %>

  <% if !session[:current_order_id].nil? %>
    <%= link_to order_path(Order.find(session[:current_order_id])), class: 'item' do %>
      現在の発注を編集
    <% end %>
  <% end %>

  <div class="right menu">
    <%= link_to new_product_path, class: 'item' do %>
      製品追加
    <% end %>

    <%= link_to products_path, class: 'item' do %>
      View all products
    <% end %>
  </div>

</div>
