<!DOCTYPE html>
<html>
  <head>
    <title>Unplan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
  </head>

  <%#= render('layouts/header') %>

  <p>
  <h1 class="ui centered dividing header">
    <%= link_to root_path do %><i class="home icon"></i><% end %>Unplan Ordering System
  </h1>

  <div class="ui grid">
    <div class="two wide column">

    </div>

    <div class="twelve wide column">
      <%= semantic_flash %>

      <body>
        <%= yield %>
      </body>
    </div>

    <div class="two wide column">

    </div>

  </div>
</html>
