<!DOCTYPE html>
<html>
  <head>
    <title>Unplan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%#= render('layouts/header') %>

  <p>
  <h1 class="ui centered header">Unplan Ordering System</h1>
  <div class="ui grid">
    <div class="two wide column">

    </div>

    <div class="twelve wide column">
      <%= semantic_flash %>

      <body>
        <%= yield %>
      </body>
    </div>

    <div class="two wide column">

    </div>

  </div>
</html>
